body{
    margin: 0px;
    }
    
    #container_parent{
        border: 1px black solid;
        width: 100%;
        height: 72em;
    }
    
    
    /* Header */
    #header{
        width: 100%;
        height: 3.9%;
        border: black 1px solid;
        display: flex;
        flex-direction: row;
    }
    
    #logo_boks{
        height: 100%;
        width: 10%;
        border: blue solid 1px;
    }
    
    #logo_boks img{
        height: 100%;
        width: 100%;
        object-fit:  contain;
    }
    
    .boks{
        height: 100%;
        width: 10%;
        border: black 1px solid;
        word-wrap:break-word ;
    }
    
    #hoyrefloat{
        height: 100%;
        width: 30%;
    }
    
    .boks button{
    width: 100%;
    height: 100%;
    margin: 0px;
    word-wrap:normal ;
}

/* main content */
#content_parent{
    width: 100%;
    border: 1px black solid;
    height: 70%;
}